<ul class='moving_img'>
    <li id='img1'>
        <i></i>
        <article>
            <blockquote>Hello There how are you I'm Alon</blockquote>
            <span>~ Alon Melanker, Web Developer</span>
        </article>
    </li>
    <li id='img2'><i></i>
        <article>
            <blockquote>Hello There how are you I'm Tali</blockquote>
            <span>~ Tali Bensal,top Economist, Alon's beloved</span>
        </article>
    </li>
    <li id='img3'>
        <i></i>
        <article>
            <blockquote>Hello There how are you I'm Bel</blockquote>
            <span>~ Bel, She-wolf</span>
        </article>
    </li>
    <li id='img4' class='active'>
        <i></i>
        <article>
            <blockquote>Hello There how are you I'm Sharky</blockquote>
            <span>~ Sharkey, 2000-2014</span>
        </article>
    </li>
</ul>