body {
  background-image: url('https://dl.dropboxusercontent.com/u/25108583/skulls.png');
}
/*   HEADER
--------------------*/
header {
  background-color: white;
}
header img {
  height: 450px;
  width: 100%;
  opacity: 0.8;
}
header .navbar-nav {
  width: 100%;
  background-color: lightgoldenrodyellow;
}
/*   CONTENT
--------------------*/
div#content {
  height: 500px;
  background: white;
}
