body {

}

/*   HEADER
--------------------*/
header {
  float: left;
  clear: both;
  background-color: white;
  font-family: 'Droid Sans',Helvetica,sans-serif;
  font-size: 17px;
  width: 100%;

  .navbar-nav {
    position: fixed;
    width: inherit;
    height: 50px;
    background-color: black;
    opacity: 0.7;

    li {
      a {
        color: white;
        opacity: 1;
        &:hover {
          background-color: black !important;
          .transition(700ms);

          color: #00b3ee;
        }
      }
    }
  }

  img {
    width: inherit;
    float: left;
    clear: both;
  }

  div {
    &.panel_rainbow {
      float: left;
      width: inherit;
      height: 10px;
      position: relative;

      div {
        float: left;
        height: inherit;
        width: 25%;

        &:nth-child(1) {
         background-color: #87ceeb;
        }

        &:nth-child(2) {
          background-color: #98fb98;
        }

        &:nth-child(3) {
          background-color: #fa8072;
        }

        &:nth-child(4) {
          background-color: #b22222;
        }
      }
    }
  }


  moving-pictures ul.moving_img {
    float: right;
    width: inherit;
    height: 130px;
    border-bottom: 1px solid black;

    li {
      height: inherit;
      width: 130px;
      float: right;

      &:nth-child(1) {
        background-color: #87ceeb;
      }

      &:nth-child(2) {
        background-color: #98fb98;
      }

      &:nth-child(3) {
        background-color: #fa8072;
      }


    }

  }
}

/*   CONTENT
--------------------*/
div#content {
  height: 500px;
  background: white;
}

